html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
}
ul {
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  color: inherit;
}
:root {
  --background-color: #ffffff;
  --brand-color: #2f303a;
  --button-color: #2196f3;
  --text-color: #212121;
  --second-text: #757575;
  --animation-name: #f5f4fa;
  --button-activ: #188ce8;
  --card-set-gap: 30px;
}

body {
  background-color: var(--background-color);
  color: var(--second-text);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.no-pading {
  padding-bottom: 0;
}

/* Шапка */
.main-nav {
  display: flex;
  align-items: center;
}
.main-end {
  border-bottom: 1px solid #ececec;
}
.logo {
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.web {
  color: var(--button-color);
}
.studio {
  color: var(--text-color);
}
/* Навігації */
.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav .item + .item {
  margin-left: 50px;
}
.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--text-color);

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link.current {
  color: var(--button-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--button-color);
}

/* Контакти */
.auth-nav {
  display: flex;
  margin-left: auto;
}
.auth-nav .item + .item {
  margin-left: 50px;
}
.auth-nav .info {
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--second-text);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.auth-nav .info:hover,
.auth-nav .info:focus {
  color: var(--button-color);
}

/* Герой */
.hero {
  padding: 200px 0 200px 0;
  text-align: center;

  background: var(--brand-color);
}

.hero-title {
  color: var(--background-color);
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-weight: 900;
  margin: 0 auto 30px;
  width: 696px;
}

.button-primary {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  width: 216px;
  height: 50px;
  margin: auto;
  padding: 0;

  color: var(--background-color);
  background-color: var(--button-color);
}

.button-primary:hover,
.button-primary:focus {
  background-color: var(--button-activ);
}

/* Секції */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Список переваг */
.feature-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
}
.feature-list > .distributed {
  flex-basis: calc((100% - 90px) / 4);
}
.feature-list .title {
  margin-bottom: 10px;

  color: var(--text-color);
  font-weight: 700;
  line-height: 1.14;
  font-size: 14px;
  text-transform: uppercase;
}
.feature-list .desc {
  line-height: 1.71;
}

/* Чим займаємось */
.img {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--card-set-gap));
  margin-left: calc(-1 * var(--card-set-gap));
}
.img > .picture {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-top: var(--card-set-gap);
  margin-left: var(--card-set-gap);
}
.rubric {
  margin-bottom: 50px;

  color: var(--text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/* Команда */
.team-section {
  background: var(--animation-name);
}
.items {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--card-set-gap));
  margin-left: calc(-1 * var(--card-set-gap));
}
.items > .foto {
  flex-basis: calc(100% / 4 - var(--card-set-gap));
  margin-top: var(--card-set-gap);
  margin-left: var(--card-set-gap);

  background-color: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.foto > .foto-desc {
  padding: 30px 0;
}
.team-section .rubric {
  margin-bottom: 50px;

  color: var(--text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.team-section .name {
  margin-bottom: 10px;
  color: var(--text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.team-section .subtitle {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

/* Футер Лого*/
.footer {
  background: var(--brand-color);
  height: 252px;
  padding: 60px 0 60px 0;
}
.web-footer {
  color: var(--background-color);
}

.studio-footer {
  color: var(--button-color);
}

/* Контакти */
address li {
  margin-bottom: 9px;
}
address li:last-child {
  margin-bottom: 0;
}
.info-nav {
  font-style: normal;
  padding-top: 20px;
}
.info-nav .map:hover,
.info-nav .map:focus,
.info-nav .mail-up:hover,
.info-nav .mail-up:focus,
.info-nav .tel-up:hover,
.info-nav .tel-up:focus {
  color: var(--button-color);
}
.info-nav .map {
  color: var(--background-color);
  line-height: 1.71;
}
.info-nav .mail-up {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
}
.info-nav .tel-up {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
}

/* Стилі для Portfoio */
/* Кнопки навігації */
.btn-portfolio {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.btn {
  color: var(--text-color);
  background-color: var(--animation-name);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  font-family: inherit;
  cursor: pointer;

  padding: 6px 22px;
  border-radius: 4px;
  border: 1px solid transparent;
}
.btn-list:not(:last-child) {
  margin-right: 8px;
}
.btn-portfolio button:hover,
.btn-portfolio button:focus {
  color: var(--background-color);
  background-color: var(--button-color);
}
/* Портфоліо */
.firs-block {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--card-set-gap));
  margin-left: calc(-1 * var(--card-set-gap));
}
.firs-block > .block-img {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-top: var(--card-set-gap);
  margin-left: var(--card-set-gap);
}
.name-desc {
  padding: 20px 24px;
  background: var(--background-color);
  border: 1px solid #eeeeee;
}
.firs-block .name-block {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-color);
}
.firs-block .name-end {
  font-size: 16px;
  line-height: 1.8;
  color: var(--second-text);
}
